body {
    color: rgb(251, 242, 221);
    font-size: 0;
    font-family: helvetica;
    background-color: rgb(34, 32, 52);
}

#viewport {
    font-size: 45px;
}

.arrow, .box, .entity {
    color: rgb(34, 32, 52);
    font-family: monospace;
    font-size: 30px;
}

.box {
    background-color: white;
}

.code-block .line:hover {
    background-color: rgb(49, 47, 67);
    color: white;
}

.background {
    opacity: .3;
}
