body {
    color: rgb(251, 242, 221);
    font-size: 45px;
    font-family: helvetica;
    background-color: rgb(34, 32, 52);
}

.svg, .box {
    color: rgb(34, 32, 52);
}

.box {
    background-color: white;
}

.background {
    opacity: .3;
}
